@using WomenMarket.Models.ViewModels
@model IEnumerable<ShoppingCartProductViewModel>
@{
    ViewBag.Title = "My shopping cart";
    ViewBag.ShoppingCartId = null;
}

@if (Model == null || !Model.Any())
{
    <div class="container">
        <h1>You don't have any products in your shopping cart.</h1>
    </div>
}
else
{
    <div class="container">
        <h1>@ViewBag.Title</h1>
            @{
                Html.RenderPartial("_ShoppingCartPartial", Model);
            }
    </div>
}
