@using WomenMarket.Models.EntityModels
@model IEnumerable<ShoppingCartProduct>

<div class="container">
    <h1>Products in the order</h1>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Product.Name</td>
                    <td>@product.Units</td>
                    <td>@product.Product.Price lv.</td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    @Html.ActionLink("Back to my orders", "MyOrders", "Profile", routeValues: new { area = "" }, htmlAttributes: new { @class = "btn btn-danger" })
    <br>
    <br>
</div>
