@{
    ViewBag.Title = "New notification";
}

<div hidden="hidden" id="messageSend" style="color: white; background-color: green; margin-top: 10px; font-size: 2em;">The message was send successfully!</div>

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("SendNotification", "Notifications", new AjaxOptions()
{
    HttpMethod = "POST",
    LoadingElementId = "messageSend",
    LoadingElementDuration = 1000,
    OnComplete = "clearMessage"
}))
{
    <label for="type">Type:</label>
    <select id="type" name="type" class="form-control">
        <option value="info">Info</option>
        <option value="danger">Danger</option>
        <option value="success">Success</option>
        <option value="warning">Warning</option>
    </select>
    <label for="notification">Notification:</label>
    <input id="notification" type="text" name="notification" class="form-control"  /> 
    <br/>
    <input id="submit" type="submit" value="Send" class="btn btn-primary"/>
}

@section Scripts{
    <script>
        function clearMessage() {
            $("#notification").val("");
        }
    </script>
}

