@model WomenMarket.Models.ViewModels.CategoryViewModel
    
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", "Categories", routeValues: new { area = "Admin", id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "Delete", "Categories", routeValues: new { area = "Admin", id = Model.Id }, htmlAttributes: new { @class = "btn btn-danger" })
    </td>
</tr>

