@using WomenMarket.Models.ViewModels
@model PagedList.IPagedList<FarmViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Farms";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        @Html.DisplayFor(farm => farm)
    </div>
    @if (Model.PageCount > 1)
    {
        @Html.PagedListPager(Model, page => Url.Action("All", new { page }))
    }
</div>
