@using WomenMarket.App.Extensions
@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            @Html.Image("http://www.mrwallpaper.com/wallpapers/fresh-fruits-1920x1080.jpg", "First slide")
            <div class="carousel-caption">
                <h3>Assorted fruits</h3>
                <p>The best fruits in town.</p>
            </div>
        </div>

        <div class="item">
            @Html.Image("https://images2.alphacoders.com/216/216360.jpg", "Second slide")
            <div class="carousel-caption">
                <h3>Assorted vegetables</h3>
                <p>Try our delicious vegetables.</p>
            </div>
        </div>

        <div class="item">
            @Html.Image("https://wallpaperscraft.com/image/cheese_different_delicious_dairy_70737_1920x1080.jpg", "Third slide")
            <div class="carousel-caption">
                <h3>Assorted dairy</h3>
                <p>Our dairies are from a certified dairy producers.</p>
            </div>
        </div>

        <div class="item">
            @Html.Image("https://wallpaperscraft.com/image/meat_sausage_sliced_assorted_varieties_20940_1920x1080.jpg", "Forth slide")
            <div class="carousel-caption">
                <h3>Assorted meats</h3>
                <p>The best steaks in town. Try it for yourself.</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

