@using WomenMarket.Models.ViewModels
@model IEnumerable<CategoryViewModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Action</th>
    </tr>

    @Html.DisplayFor(category => category)

</table>

<p>
    @Html.ActionLink("Create New", "Create", routeValues: new { area = "Admin" }, htmlAttributes: new { @class = "btn btn-success" })
</p>
